<header>
<div class="bloc-titre">
<h1>AKINATOR</h1>
<p>Tu ne peux pas me vaincre</p>

<div class="time">
<p>Nous sommes le :</p>
<%= Time.now.strftime("%d/%m/%y")%>
</div>
<!-- <%= link_to( "Mon blog", pages_blog_path, method: :get) %> -->
<br>
<p>Pense à quelqu'un!</p>

<%= link_to( "Commencer à jouer!", games_path, method: :post, class: "btn btn-warning") %> 
</div>
</header>

