<header>
<div class= "bloc-titre">
<h1>Question 1</h1>
<p>Réponds honnêtement</p>

<%= @question %>

  	<%= link_to("Oui!", game_path(params["id"], answer: "yes"), method: :patch, class: "btn btn-warning") %>
  	<%= link_to("Non!", game_path(params["id"], answer: "no"), method: :patch, class: "btn btn-warning") %>

</div>
</header>